.Header {
	background: var(--lime);
	padding: 1rem;
	color: var(--light);
	width: 100%;
}

.NavBar {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.EndBar {
	flex: 0 1 auto;
	display: flex;
	align-items: center;
	justify-content: end;
	gap: clamp(8px, 2vw, 1rem);
}