.MastHead {
	display: flex;
	flex-direction: column;
	align-items: start;
	text-align: start;
	margin: 0 auto;
	padding-top: 6rem;
	max-width: 72rem;
}

.Title {
	font-weight: 900;
}

.Description {
	margin: 1.5rem auto 0 0;
}

.BtnGroup {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 2rem;
}


@media (max-width: 546px) {
	.BtnGroup {
		flex-direction: column;
	}
}