.CodeSnippet {
	margin: 0;
	border: 1px solid rgba(var(--body-clr-rgb), .15);
	background-color: rgba(var(--body-clr-rgb), 0.09);
	border-radius: .5rem;
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	padding: 0 1em;
	white-space: nowrap !important;
	overflow-wrap: break-word !important;
	word-break: keep-all !important;
}

.Clipboard {
	background: transparent;
	display: grid;
	place-items: center;
	padding: 1em;

}

.Highlight {
	margin: 1em;
	font-size: clamp(1rem, 2vw, 1.25em);
	white-space: nowrap !important;
	overflow-wrap: break-word !important;
	word-break: keep-all !important;

	* {
		white-space: nowrap !important;
		overflow-wrap: break-word !important;
		word-break: keep-all !important;
	}

	code::before {
		content: '$';
		margin-right: .5em;
	}
}

@media (max-width: 576px) {
	.Clipboard {
		display: none;
	}

	.Highlight {
		width: 100%;
		margin-inline: 0;
	}
}