.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	margin: 0 clamp(0px, 3vw, 2.5rem);
	border-bottom: 1px solid rgba(var(--body-clr-rgb), .1);
}

.StartBar {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	flex: 0 0 auto;
}

.EndBar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1.5rem;
	flex: 1 0 auto;

	.EndBarContent {
		gap: inherit;
		display: flex;
		align-items: center;
	}
}

.Logo {
	display: flex;
	align-items: center;
	gap: .5rem;
}

.Btn {
	display: flex;
	align-items: center;
}

// .MobileMenuToggle {
// 	display: none;
// }

// @media (max-width: 1024px) {
// 	.MobileMenuToggle {
// 		display: grid;
// 		place-items: center;
// 	}
	
// 	.NavMenu {
// 		display: none !important;
// 	}
// }

// @media (max-width: 768px) {
// 	.EndBarContent {
// 		display: none !important;
// 	}
// }