.Footer {
	border-top: 1px solid var(--body-clr);
	padding-block: 2rem;

	p {
		font-size: 1rem;
		margin-bottom: 0;
	}
}

.FooterTop {
	border-bottom: 1px solid var(--body-clr);
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.FooterContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 546px) {
	.FooterContent {
		flex-direction: column;
		align-items: start;
	}
}