.CustomBtn {
	border-radius: 0.5rem;
	padding: 1rem 2rem;
	font-size: clamp(1rem, 2vw, 1.25rem);
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.GitHub {
	background: var(--body-clr);
	color: var(--body-bg);
	gap: .5rem;
}