[data-theme='dark'] {
	--body-bg: var(--dark);
	--body-clr: var(--light);
	--body-bg-rgb: 31, 31, 31;
	--body-clr-rgb: 248, 289, 250;
	--body-muted-clr: #a8a8a8;
	color-scheme: dark;
}

[data-theme='light'] {
	--body-bg: var(--light);
	--body-clr: var(--dark);
	--body-bg-rgb: 248, 289, 250;
	--body-clr-rgb: 31, 31, 31;
	--body-muted-clr: #5a5a5a;
	color-scheme: light;
}


:root {
	--h1-font-size: clamp(2rem, 4vw, 4rem);
	--h2-font-size: clamp(1.875rem, 3vw, 3rem);
	--h3-font-size: clamp(1.75rem, 3vw, 2rem);
	--h4-font-size: clamp(1.5rem, 3vw, 1.875rem);
	--h5-font-size: clamp(1.25rem, 2vw, 1.875rem);
	--h6-font-size: clamp(1rem, 2vw, 1.25rem);
	--p-font-size: 1.125rem;
}


:root {
	--notfound-padding: clamp(6rem, 4vw, 4rem) clamp(1rem, 2vw, 2rem);
	--notfound-title-font-size: clamp(5rem, 8.5vw, 8rem);
	--notfound-title-margin: clamp(2rem, 3vw, 3rem);
	--notfound-subtitle-margin: clamp(1.25rem, 2vw, 2rem);
	--notfound-subtitle-font-size: clamp(1.5rem, 3vw, 3rem);
	--notfound-article-font-size: clamp(.875rem, 2vw, 1.5rem);
}